@model DAL.Entities.Auto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VinCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VinCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechPass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechPass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
